@page
@using Consuela.Entity;
@model Consuela.Service.Pages.ProfileEditModel
@{
    var profile = Model.Profile;
    var i = 0;
}
<script src="~/js/ProfileEditService.js"></script>
<form method="post" id="editForm">
<fieldset>
    <legend>Ignore</legend>
    <ul>
        <li>Files and directories to ignore</li>
        <li>Files can be exact naming or use a star pattern</li>
        <li>Directories are absolute paths</li>
        <li>Case sensitivity applies to both Files and Directories</li>
    </ul>
    <h4>Files</h4>
    <input id="txtAddIgnoreFile" type="text" /> <button type="button" onclick="btnAddIgnoreFileOnClick()">Add</button><br/>
    <table class="form-control table table-striped table-secondary">
        <thead>
            <tr>
                <th>File pattern</th>
                <th>X</th>
            </tr>
        </thead>
        <tbody id="tbodyIgnoreFiles" name="tbodyIgnoreFiles">
            @foreach(var file in profile.Ignore.Files)
            {
                <tr id="trIgnoreFiles_E@(i)">
                    <td><input type="text" name="IgnoreFiles" value="@(file)"></td>
                    <td><button type="button" onclick="btnRemoveItemOnClick('trIgnoreFiles_E@(i)')">X</button></td>
                </tr>

                i++;
            }
        </tbody>
    </table>
    <h4>Directories</h4>
    <input id="txtAddIgnoreDirectory" type="text" size="100" /> <button type="button" onclick="btnAddIgnoreDirectoryOnClick()">Add</button><br/>
    <table class="form-control table table-striped table-secondary">
        <thead>
            <tr>
                <th>Absolute paths</th>
                <th>X</th>
            </tr>
        </thead>
        <tbody id="tbodyIgnoreDirectories">
            @{ i = 0; }

            @foreach(var dir in profile.Ignore.Directories)
            {
                <tr id="trIgnoreDirectories_E@(i)">
                    <td><input type="text" name="IgnoreDirectories" value="@(dir)"></td>
                    <td><button type="button" onclick="btnRemoveItemOnClick('trIgnoreDirectories_E@(i)')">X</button></td>
                </tr>
             
                i++;
            }
        </tbody>
    </table>
</fieldset>
<hr/>
<fieldset>
    <legend>Audit</legend>
    <ul>
        <li>Audit is turned on by default</li>
        <li>Specify where to save audit files</li>
        <li>Specify how long audit files should be kept</li>
    </ul>
    <label>Disable:</label>&nbsp;@Html.CheckBoxFor(x => x.Edited.Audit.Disable)<br/>
    <label>Path:</label>&nbsp;<input name="Edited.Audit.Path" size="100" type="text" value="@(profile.Audit.Path)"><br/>
    <label>Retention:</label>&nbsp;<input name="Edited.Audit.RetentionDays" type="number" value="@(profile.Audit.RetentionDays)" class="numberInput"> Days
</fieldset>
<hr/>
<fieldset>
    <legend>Delete</legend>
    <ul>
        <li>Files and directories to scan for old files to delete</li>
        <li>Specify how old files should be before they are deleted</li>
        <li>Specify how often the service should be deleting files</li>
    </ul>
    <label>Max Age: </label>&nbsp;<input name="Edited.Delete.FileAgeThreshold" type="number" value="@(profile.Delete.FileAgeThreshold)" class="numberInput"> Days<br/>
    <label>Frequency: </label>&nbsp;
    <select id="ddlFrequency" name="Edited.Delete.Schedule">
        <option value="1">Daily</option>
        <option value="2">Weekly</option>
        <option value="3">Monthly</option>
    </select>
    <input type="hidden" id="hdnFrequency" value="@((int)profile.Delete.Schedule.Frequency)" />
    <h4>Paths</h4>
    <label>Path</label><input id="txtAddDeletePath" type="text" /><br/>
    <label>Pattern</label><input id="txtAddDeletePattern" type="text" /><br/>
    <button type="button" onclick="btnAddDeletePathsOnClick()">Add</button><br/>
    <table class="form-control table table-striped table-secondary">
        <thead>
            <tr>
                <th>Search path</th>
                <th>Search pattern</th>
                <th>X</th>
            </tr>
        </thead>
        <tbody id="tbodyDeletePaths">
            @{ i = 0; }

            @foreach(var pp in profile.Delete.Paths)
            {
                <tr id="trDeletePaths_E@(i)">
                    <td><input type="text" name="DeletePaths.Path" value="@(pp.Path)"></td>
                    <td><input type="text" name="DeletePaths.Pattern" value="@(pp.Pattern)"></td>
                    <td><button type="button" onclick="btnRemoveItemOnClick('trDeletePaths_E@(i)')">X</button></td>
                </tr>
             
                i++;
            }
        </tbody>
    </table>
</fieldset>
<hr />
<a href="~/ProfileView">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" asp-page-handler="Submit" onclick="submitForm()">Save changes</button>
</form>
<script>
    window.addEventListener("load", function () {
        setFrequencyByValue();
    }, false);
</script>
